p{
    margin-bottom: 0;
}
.password {
    width: 40%;
    margin: 0 auto;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 30px 40px;
    border-radius: 15px;
    margin-top: 100px;
    box-shadow: 0 0px 10px rgb(195, 195, 195);
}
#create-new-password {
    color: white;
    background-color: #33436F;
    border-radius: 100px;
    padding: 5px 0px;
    border: 2px solid #33436F;
    margin-left: 60px;
    width: 160px;

}
#back {
    background-color: white;
    color: #33436F;
    border-radius: 100px;
    padding: 5px 0px;
    width: 140px;
    border: 2px solid #33436F;
    
}
h5 {
    text-align: center;
    margin-bottom: 50px;
}


.form_password{
    display: flex;
    flex-direction: column;

}
.current_password{
    align-items: center;
    margin-bottom:15px ;
}
.password_c{
    width: 30%;
    margin: 0 auto;
}
.form_password input{
    width: 50%;
    margin: 0px 0;
    border:0;
    outline: 1px solid;
    border-radius: 5px;
    padding: 5px;
}

.form_password label{
    width: 30%;
    text-align: end;
    margin-right: 25px;
}
.sub{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.forgot{
    text-align: end;
    margin: 0px 0;
}