.password {
    width: 40%;
    margin: 0 auto;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 30px 40px;
    border-radius: 15px;
    margin-top: 150px;
}
#create-new-password {
    color: white;
    background-color: #33436F;
    border-radius: 100px;
    padding: 5px 24px;
    border: 2px solid #33436F;
    margin-left: 30px;
}
#back {
    background-color: white;
    color: #33436F;
    border-radius: 100px;
    padding: 5px 12px;
    border: 2px solid #33436F;
}
label {
    margin: 5px;
}
h5 {
    text-align: center;
    margin-bottom: 30px;
}