.top {
  width: 70%;
  background-color: rgb(223, 222, 222);
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* margin-top: 15px; */
}
.top img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #e0e0e0;
  margin-bottom: 5px;

}
.top p {
  font-weight: 500;
  font-size: 20px;
  color: #33436F;
}
.top table {
  width: 30%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  table-layout: fixed;
}
.top th, td{
  padding: 10px 10px;
  width: 25%;
  text-align: center;
  font-size: 14px;
  color: #6d6d6d;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
  background-color: #f9f9f9;
  color: black;
}

.dropdown-option {
  margin-left: 320px;
}

.text-about{
  color: #33436F;
}
#change-password-btn {
  border-radius: 100px;
  color:#33436F;
  background-color: transparent;
  border: 2px solid #33436F;
  padding: 3px 12px;
  margin-left: 5px;
}

#edit-info, #logout {
  border-radius: 100px;
  padding: 5px 20px;
  border: 2px solid #33436F;
}
#edit-info {
  color:  #33436F; 
  background-color: transparent;
  margin-left: 20px;
}
#logout {
  width: 12%;
  background-color: #33436F;
  color:white;
}

/* แก้ไขข้อมูล */
#back-icon {
  width: 40px;
  height: 40px;
  font-size: 30px;
  border: none;
  background-color: transparent;
  color: #33436F;
}
/* .edit-header {
  display: flex; 
  align-items: center; 
  justify-content: center;
} */
.edit-info {
  width: 40%;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 15px;
  padding: 10px 20px;
}

#cancle-edit-info {
  color: white;
    background-color: #33436F;
    border-radius: 100px;
    padding: 5px 24px;
    border: 2px solid #33436F;
}

#submit-new-info {
  color: white;
    background-color: #33436F;
    border-radius: 100px;
    padding: 5px 24px;
    border: 2px solid #33436F;
}

/* นิยาย คอมมิก */
.create-novel, .create-comic {
  width: 13%;
  background-color: #33436F;
  color: white;
  border-radius: 100px;
  padding: 5px 20px;
  border: 2px solid #33436F;
}

.create-novel-n, .create-comic-n {
  background-color: #33436F;
  color: white;
  border-radius: 100px;
  padding: 5px 15px;
  border: 2px solid #33436F;
  margin-left: 650px;
}