.top {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0px 10px #a9a9a9;
  background-image: url("/login/login.png");
  background-size: cover;
  background-position: 0x ;
  background-repeat: no-repeat;
  text-align: center;
}
.top img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #e0e0e0;
  margin-bottom: 5px;

}
.icon_cam{
  font-size: 17px;
  color: white;
  background-color: rgba(125, 125, 125, 0.8);
  width: 25px;
  height: 25px;
  border-radius: 100%;
  position: absolute;
  translate: 10px -25px;
}
.cover-upload{
  height: 1px;
}
.card_user{
  margin: 0 auto;
  width: 70%;
}

.top p {
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}
.top table {
  width: 30%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  table-layout: fixed;
}
.top th, td{
  padding: 10px 10px;
  width: 25%;
  text-align: center;
  font-size: 14px;
  color: #6d6d6d;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
  background-color: #f9f9f9;
  color: black;
}
.if{
  display: flex;
  margin: 0 auto;
  justify-content: start;
  width: 65%;
}
.text-about{
  color: #33436F;
}
#change-password-btn {
  border-radius: 100px;
  color:#33436F;
  background-color: transparent;
  border: 2px solid #33436F;
  padding: 3px 12px;
  margin-left: 5px;
}

#edit-info, #logout {
  border-radius: 100px;
  padding: 5px 20px;
  border: 2px solid #33436F;
}
#edit-info {
  color:  #33436F; 
  background-color: transparent;
  margin-left: 20px;
}
#logout {
  width: 12%;
  background-color: #33436F;
  color:white;
}
#add-password-btn{
  border-radius: 15px;
  padding: 3px 15px;
  border: 2px solid #33436F;

  background-color: rgba(37, 89, 194, 0);;
}
/* แก้ไขข้อมูล */
#back-icon {
  width: 40px;
  height: 40px;
  font-size: 30px;
  border: none;
  background-color: transparent;
  color: #33436F;
}
.edit-header {
  display: flex; 
  align-items: center; 
}
.h5{
  margin: 0;
  align-items: center;
  text-align: center;
  width: 85%;
  margin-top: 5px;
}
.h5 h5{
  margin: 0;
  
}
.edit-info {
  width: 40%;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 15px;
  padding: 10px 20px;
}
#cancle-edit-info {
  color: white;
    background-color: #33436F;
    border-radius: 100px;
    padding: 5px 24px;
    border: 2px solid #33436F;
}

.sub{
  display: flex;
  justify-content: end;
  margin-bottom: 9px;
}
#submit-new-info {
  color: white;
    background-color: #33436F;
    border-radius: 100px;
    padding: 5px 24px;
    border: 2px solid #33436F;
    margin-top: 10px;
    width: 20%;
}
.form_edit{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.form_edit label{
  text-align: end;
  width: 35%;
  margin-right: 25px;
}
.form_edit input{
  width: 50%;
    margin: 8px 0;
    border:0;
    outline: 1px solid #CCC;
    border-radius: 5px;
    padding: 4px;

}
.form_edit input:focus{
  outline: 1px solid rgba(37, 89, 194, 0.5);
  box-shadow: 0 0 0 4px rgba(86, 140, 249, 0.5); 
}
form select{
  width: 100px;
  border: 0px;
  outline: 1px solid #CCC;
  border-radius: 5px;
  text-align: center;
}
.gender{
  display: flex;
}
.span{
  text-align: center;
}
.gender{
  margin: 10px 0;
}
.gender select{
  margin-left: 3px;
}

/* นิยาย คอมมิก */
.img_user{
  width: 100%;
  height: 200px;
  object-fit: cover;

}


.else{
  display: flex;
  margin: 0 auto;
  width: 65%;
  justify-content: space-between;
}
.n_user{
  margin: 0 auto;
  width: 70%;
  justify-content: center !important;
}
.new{
  text-align: center;
}
.else_user{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  margin: 0 auto;
}
.create-novel, .create-comic {
  width: 20%;
  margin-top: 15px;
  background-color: #33436F;
  color: white;
  border-radius: 100px;
  padding: 5px 20px;
  border: 2px solid #33436F;
}

.create-novel-n, .create-comic-n {
  background-color: #33436F ;
  color: white;
  border-radius: 100px;
  padding: 0px 20px;
  border: 2px solid #33436F;
}
.create-novel-n{
  display: flex;
  height: 40px;
  align-items: center;
}

