
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#login-cover{
    margin-left: -10px;
    height: 100%;
}

.elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    font-size: 35px;
    font-weight: bold;
    font-family: "Kanit";
}

.text,.line{
    display: flex;
    flex-direction: row;
}
.text a{
    text-decoration: none;
    color: black;
}

.text a:not(:last-child){
    margin-right: 30px;
}

.line1 , .line2{
    height: 1px;
    width: 50%;
    background-color: #999999;
}

.form form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.form form input{
    width: 270px;
    height: 32px;
    border-radius: 10px;
    padding-left: 5px;
}

.form form label{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: "Inter";
}

#forgot{
    margin: 5px 5px 0 auto;
    text-decoration: none;
    color: #2559C2;
    font-size: 14px;
}

#forgot:hover{
    text-decoration: underline;
}

#login-button{
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: #4F5D87;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.or{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #858585;
}

#or-text{
    font-size: 14px;
    font-family: "Inter";
    font-weight: bold;
}

.or .line{
    height: 1px;
    width: 50%;
    background-color: #858585;
}

.third-party-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#google{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid black;
    height: 40px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

#google-img{
    margin-right: 10px;
    width: 29px;
    height: 39px;
}

#facebook{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    height: 40px;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #1877F2;
    color: white;
    font-weight: bold;
    font-family: "Inter";
}

.gender{
    width: 92px;
    height: 35px;
    padding-left: 5px;
    border-radius: 10px;
}

#register-button{
    height: 40px;
        border-radius: 10px;
        color: white;
        background-color: #4F5D87;
        border: none;
        margin-top: 20px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
}