*{
    margin: 0;
}

.AddChapterContainer{
    display: flex;
    flex-direction: column;
    width: 1027px;
    height: auto;
    margin: 30px auto;
}

#edit-button , #submit-button{
    width: 101px;
    height: 31px;
    border-radius: 50px;
}

#edit-button{
    border: 1.5px solid #a4a4a4;
    background-color: transparent;
    margin-right: 10px;
    color: #858585;
}

#submit-button{
    border: 1.5px solid transparent;
    background-color: #4F5D87;
    color: white;
}


.add-name{
    margin: auto 0;
}

.add-name label{
    font-size: 23px;
}

.add-name input{
    border: 2px solid #AFA9A9;
    background-color: transparent;
    height: 40px;
    padding-left: 5px;
    color: black;
}

#content-label{
    font-size: 23px;
}

#content , #writer_message{
    padding-top: 5px;
    border: none;
    outline: none;
}

#content-hr{
    margin-top: 0;
    width: 100%;
}

#check-error{
    height: 40px;
}


#checkbox{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#cancel-button , #save-button{
    width: 135px;
    height: 36px;
    border-radius: 50px;
}

#cancel-button{
    margin-right: 20px;
    border: 2px solid #A4A4A4;
    color: #858585;
    background-color: transparent;
}

#save-button{
    border: 2px solid transparent;
    color: white;
    background-color: #4F5D87;
    
}

#image-input-label {
    width: 180px;
    height: 200px;
    background-image: url("../../novel/add_photo.png");
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    background-color: white;
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
    flex: 0 0 auto;
}

#image-input-label:hover{
    background-color: #FAFAFA;
}

#image-input {
    display: none;
}