.no-bin{
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.bin{
    width: 50%;
    margin: 20px auto 0 auto;
    font-size: 22px;
    background-color: white;
    padding: 30px 0;
    border-radius: 10px;
}

.images{
    width: 100px;
    max-height: 100px;
    object-fit: contain;
}

.h4{
    width: 50%;
    margin: 50px auto 0 auto;
    padding-left: 2px;
}

#back-icon {
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: none;
    background-color: transparent;
    color: #33436F;
    align-items: center;
    position: relative;
    left: 20%;
    top: 95px;
}