@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: "Kanit";
}

.navbar-layout{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 71px;
    width: 100%;
    background-color: #4F5D87;
}

.left-menu{
    margin-left: 20px;
}

.left-menu a{
    text-decoration: none;
    color: #9EB5D0;
    font-size: 20px;
    font-weight: bold;
}

.left-menu a:nth-child(2){
    margin-left: 25px;
    margin-right: 15px;
}

#title{
    color: white;
    font-size: 28px;
}

.right-menu{
    display: flex;
    margin-left: auto;
    margin-right: 25px;
    align-items: center;
}

#layout-search{
    background-color: #DBE0E6;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

#layout-seach-image{
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.right-menu button:not(:last-child){
    margin-right: 15px;
}

#avatar{
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: none;
    border-radius: 50px;
}

#avatar-picture{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.dropdown-menu{
    overflow: hidden;
    transform: translateX(-20%);
}


#login-button{
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 2px solid white;
    color: white;
    padding: 7px 15px;
    border-radius: 8px;
} 

.search-form{
   max-width: 260px;
   max-height: 46px;
}

.search-input{
    min-width: 205px;
}

.search-button{
    width: 32px;
    height: 26px;
    padding: 1px 6px;
}