.container {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  height: 100vh;
  background-color: white;

}

.user {
  width: 60%;
  background-color: #F1F1F1;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
#profile-top img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #e0e0e0;
  margin-bottom: 10px;

}
#profile-top p {
  font-weight: 500;
  font-size: medium;
  color: #33436F;
}
#about table {
  margin-top: 0px;
  width: 40%;
  margin: 0 auto;
  background-color: #fff;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}
#about th, #about td {
  padding: 10px 10px;
  text-align: center;
  font-size: 16px;
  color: #6d6d6d;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
}
#about th {
  background-color: #f9f9f9;
  color: black;
  font-size: small;
}
#about td {
  background-color: #f9f9f9;
  color: black;
  font-size: small;
}
.user-options select {
  font-weight: bold;
  border: none; 
  outline: none; 
  background-color: transparent; 
  font-size: x-large;
}

/* popup */
.blur-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  filter: blur(5px);
  z-index: 999;
  display: none;
  pointer-events: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  display: none;
  z-index: 998;
  pointer-events: auto;
}
.close-btn {
  position:  fixed;
  top: 11px;
  right: 10px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  background: #888;
  color: #eee;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  align-items: center; 
  justify-content: center;
}
.close-btn:hover {
  background-color: rgb(192, 0, 0);
}
input[type="password"]{
  width: 90%;
  display: block;
  height: 35px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.popup, .popup2 {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 380px;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
  z-index: 1000;
} 
.popup.active,  .popup2.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
}
.popup h5, .popup2 h5 {
  text-align: center;
  color: #222;
  font-size: 25px;
}
.popup .form-element,  .popup2 .form-element {
  margin-top: 10px;
  width: 100%;
}
.popup label, .popup2 label {
  margin-top: 5px;
  font-size: 14px;
  color: #222;
  padding-top: 10px;
  width: 100%;
}
.popup button , .popup2 button{
  width: 100%;
  height: 35px;
  text-align: center;
  margin-top: 40px;
  border: none;
  font-size: 16px;
  background: #999999;
  color: white;
  border-radius: 100px;
  cursor: pointer;
}
.popup button:hover, .popup2 button:hover{
  background: #4F5D87;
}
.popup a {
  display: block;
  text-align: right;
  font-size: 14px;
  color: #2559C2;
  text-decoration: none;
  margin-top: 10px;
  margin: 5px 5px 0 auto;
}
.popup a:hover {
  text-decoration: underline;
}

