@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #F1F1F1;
}

p {
    margin: 0;
    padding: 0;
}

.container_user {
    Margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_user {
    display: flex;
    margin: 0 auto;
    width: 73%;
    padding: 0 10px;
    box-sizing: border-box;
    justify-content: center;

}


.img img {
    width: 384px;
    height: 422px;
    object-fit: cover;
    margin-right: 10px;
}

.user {
    padding: 20px;
    background-color: #D9D9D9;
    border-radius: 0 10px 0 0;
}

.head {
    height: 45px;
    display: flex;
    overflow: hidden;
}

.head h1 {
    font-size: 30px;
}

.profile_user {
    display: flex;
    align-items: center;
}

.profile_user img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.button ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.button li {
    margin-right: 10px;
}

.button_1 {
    border: 1px solid #676767;
    color: #676767;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;

}

.button_2 {
    background-color: #4F5D87;
    color: #ffffff;
    padding: 10px 28px;
    border-radius: 20px;
    text-decoration: none;
}

.type {
    margin: 10px 0;
    height: 65%;
}

.Introducing {
    background-color: white;
    width: 70%;
    padding: 30px;
    justify-content: center;
    margin: 10px auto;
    margin-top: 0px;
    border-radius: 0 0 10px 10px;
}

.Introducing a {
    text-decoration: none;
    color: #4F5D87;
}

.All_episodes {
    background-color: white;
    width: 70%;
    padding: 20px;
    justify-content: center;
    margin: 10px auto;
    margin-top: 10px;
    border-radius: 10px;
}

.All_episodes select {
    width: 200px;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}

.All_episodes select:focus {
    outline: none;
    border-color: #007bff;
}

#edit-chapter-href {
    text-decoration: none;
    color: #333;
}

.comment {
    background-color: white;
    width: 70%;
    padding: 20px;
    justify-content: center;
    margin: 10px auto;
    border-radius: 10px;
}

.comment h4 {
    margin-bottom: 10px;
}

.comment textarea {
    width: 100%;
    height: 200px;
}

.com {
    background-color: #e2e2e2;
    width: 70%;
    height: 220px;
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    margin: 10px auto;

}

.pofile_user_com {
    display: flex;
    align-items: center;
}

.pofile_user_com img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

}

.images {
    height: 100px;
    object-fit: contain;
    border-radius: 10px;
    margin-inline: 20px;
}

.com textarea {
    margin: 10px;
    width: 97%;
    height: 110px;
}

.com textarea:focus {
    outline: 0;
    box-shadow: #007bff 0 0px 2px 1px;
}

@media screen and (max-width: 576px) {
    .container_user {
        width: 100%;
        margin: 0;
    }

    .card_user {
        display: block;
        margin: 0 auto;
        width: 70%;
    }

    .img img {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
        height: auto;
    }

    .user {
        height: 240px;
    }

    .user h1 {
        font-size: 16px;
    }

    .type h4 {
        font-size: 16px;
    }

    .type p {
        font-size: 10px;
    }

    .type {
        margin: 10px 0;
        height: 45%;
    }

    .profile_user img {
        width: 20px;
        height: 20px;

    }

    .profile_user p {
        font-size: 10px;
    }

    .button_1 {

        padding: 5px 10px;

    }

    .button_2 {
        padding: 5px 18px;

    }

    .com {
        width: 70%;

    }

}

@media screen and (min-width: 577px) and (max-width: 1040px) {
    .container_user {
        width: 100%;
    }

    .img img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    .user h1 {
        font-size: 16px;
    }

    .type h4 {
        font-size: 16px;
    }

    .type p {
        font-size: 10px;
    }

    .type {
        margin: 10px 0;
        height: 70%;
    }

    .profile_user img {
        width: 20px;
        height: 20px;

    }

    .profile_user p {
        font-size: 10px;
    }

    .button_1 {

        padding: 5px 5px;

    }

    .button_2 {
        padding: 5px 10px;

    }
}

@media only screen and (max-width: 1200px) {
    .container_user {
        width: 100%;

    }

}

.comment button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #e0e0e0;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.comment button:hover {
    background-color: #d4d4d4;

}
.writer-message {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #f9f9f9;
    font-size: 16px;
}

.writer-message strong {
    margin-right: 10px;
    color: #555;
}

.writer-message p {
    margin: 0;
    color: #333;
}