@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

h1 {
    margin-top: 7%;
}

p ._1 {
    margin-top: 12%;
}

#btn1 {
    background-color: #33436F;
    color: #9EB5D0;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#btn2 {
    background-color: #9EB5D0;
    color: #33436F;
    border: #33436F;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#btn1:hover {
    background-color: #9EB5D0;
    color: #33436F;
}

._1 {
    text-align: right;
    -webkit-text-stroke: 7px #000000;
    color: #f8f9fa;
    padding: 0;
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-size: 350px;

}

.row {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 66%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.side {
    width: 17%;
}

#recommend1 {
    margin-top: 250px;
    padding: 20px;
    text-align: center;
}

.recommend {
    margin-top: 100px;
    padding: 20px;
    text-align: center;
}

.recommend-section1,
.recommend-section2,
.recommend-section3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.recommend-card {
    width: 48%;
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    word-wrap: break-word;
    white-space: normal;
}


.recommend-card img {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}

.recommend-card h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

.recommend-card p {
    font-size: 14px;
    color: #666;
    margin-left: 10px;
}

.recommend-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

select{
    width: 170px;
        padding: 8px;
        border-radius: 12px;
        border: 1px solid #ccc;
        background-color: #f0f0f0;
        color: #333;
        font-size: 14px;
        cursor: pointer;
        margin-left: 10px;
        margin-bottom: 20px;
}
