@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

h1 {
    margin-top: 8%;
}

p ._1 {
    margin-top: 12%;
}

#btn2 {
    background-color: #33436F;
    color: #9EB5D0;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#btn1 {
    background-color: #9EB5D0;
    color: #33436F;
    border: #33436F;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#btn2:hover {
    background-color: #9EB5D0;
    color: #33436F;
}



._1 {
    text-align: right;
    -webkit-text-stroke: 7px #000000;
    color: #f8f9fa;
    padding: 0;
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-size: 350px;

}

.row {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 66%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.side {
    width: 17%;
}
.recommend-section1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    max-width: 1150px;
    margin: 0 auto;
}

.recommend-card-link {
    flex: 1 1 100%;
    max-width: 100%;
}

.recommend-card {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
}

.recommend-card img {
    width: 150px;
    height: 130px;
    border-radius: 7px;
    object-fit: cover;
    margin-right: 15px;
}

.recommend-card h5 {
    font-size: 22px;
    color: #333;
    margin: 0 0 10px 0;
    text-align: center;

}

.recommend-card p {
    font-size: 16px;
    color: #666;
    margin: 8px 0;
    text-align: center;
}
a {
    text-decoration: none;
    color: #454040;

}

select{
    width: 170px;
        padding: 8px;
        border-radius: 12px;
        border: 1px solid #ccc;
        background-color: #f0f0f0;
        color: #333;
        font-size: 14px;
        cursor: pointer;
        margin-left: 10px;
        margin-bottom: 20px;
}
.description {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}