@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #f8f9fa;
}


.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: white;
    padding: 20px 5px;
    border-radius: 12px;
    box-shadow: 1px 1px 5px black;
}

.div37 {
    text-align: center;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 16px;
    font-weight: 600;
    left: 0;
    right: 0;
    bottom: 5%;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0 5px;
    margin-top: 5px;
    width: 137px;
    height: 41px;
    border-radius: 100px;
    background-color: #4f5d87;
}

.div37:hover {
    background-color: #394770;
}

strong {
    margin-left: 10px;
}

.images {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 10px;
    margin-inline: 20px;
}

#edit-chapter-href {
    text-decoration: none;
    color: #333;
}

#edit-chapter-href:hover {
    color: #777;
}

.chapter-name {
    color: #333;
    text-decoration: none;
}

.chapter-name:hover {
    color: #777;
}


.form-control {
    max-width: 800px;
    max-height: 200px;
}

#delete-chapter {
    border: none;
    background-color: transparent;
    outline: none;
}

#back-icon {
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: none;
    background-color: transparent;
    color: #33436F;
    align-items: start;
    position: relative;
    left: 3%;
    top: 100px;
}