.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 250px 250px 250px;
    margin-left: 20%;
    margin-right: 20%;
}


.box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.action-box {
    background-color: #4F5D87;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.box{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;


}
.action-box {
    margin:10px  10px;
    
}
.action-box img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.action-box p {
    font-size: 30px;
    
}

.action-box:hover {
    background-color: rgb(55, 65, 130);
}

.action-box a {
    text-decoration: none;
}

