*{
    padding: 0;
    margin: 0;
}
ul {
    list-style-type: none;
    overflow: hidden;
}
.left {
    color: white;
    float: left;
    margin: 8px;
}
.right {
    float: right;
    margin: 8px;
    color: white;
    
}
.right a:visited,a{
    color: white;
    text-decoration: none;
}

.nav {
    padding: 25px;
}
.navbar {
    background-color: rgb(61, 52, 52);
}