/* ตั้งค่าพื้นฐาน */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;

}

/* จัดรูปแบบฟอร์มค้นหา */

.no-results {
    text-align: center;
}

/* สไตล์สำหรับฟอร์มค้นหา */
.search-form {
    display: flex;
    border-radius: 25px;
    background-color: white;
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin: 60px auto;
    width: 1200px;
}

.search-input {
    border: none;
    border-radius: 25px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    flex-grow: 1;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.search-button img {
    vertical-align: middle;
}

.search-input::placeholder {
    color: #999;
}


/* จัดรูปแบบผลลัพธ์การค้นหา */
.box-result {
    text-align: center;
    color: #333;
    margin-bottom: 20px;


}

.results-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: stretch;
    grid-gap: 30px;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
}

.result-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 10px;
    
}

.result-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.result-info {
    text-align: left;
    width: 100%;
}

.result-info p {
    margin: 5px 0;
}

/* จัดรูปแบบปุ่มการดำเนินการ */
.action-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.btn-danger {
    background-color: #dc3545;
    color: white;


}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-success:hover {
    background-color: #218838;
}

/* สไตล์สำหรับไอคอน */
.fas {
    margin-right: 5px;
}

.btn-warning {
    background-color: #4F5D87;
}

.box-restore {
    display: flex;
    justify-content: flex-end;
}

.restore-button {
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.restore-button:hover {
    background-color: #218838;
}

/* การตอบสนอง */
@media (max-width: 768px) {
    .search-input {
        width: 60%;
    }

    .result-card {
        width: 100%;
    }
}